.why_menu{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.element{
    width: 205px;
}
.element h3{
    font-size: 25px;
}
.element p{
    font-size: 15px;
    color: #151513;
}
.mr{
    padding-bottom: 80px;
}
.serach_1{
    display: flex;
    width: 500px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.background input{
    outline: none;
    padding: 0 10px;
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px 10px;
    opacity: 50%;
}
.background select{
    outline: none;
    padding: 0 10px;
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px 10px;
    opacity: 50%;
}
.background{
    background: url("../img/bg1.jpg") center center / cover;
}
.ots{
    margin-top: 70px;
}
.search{
    padding-bottom: 70px;
}
.sells{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 160px;
}
.sell{
    border: 1px solid #62a0ff;
    margin-top: 15px;
    text-align: center;
    width: 300px;
    transition: all .5s;
}
.sell:hover{
    box-shadow: 5px 5px 20px  black;
    transform: scale(1.1);
}
.sell .img{
    width: 300px;
    height: 200px;
    margin-bottom: 15px;
}
.sell .img1{
    background: url("../img/promotion1.jpg") center center / cover;
}
.sell .img2{
    background: url("../img/promotion2.jpg") center center / cover;
}
.sell .img3{
    background: url("../img/promotion3.jpg") center center / cover;
}
.sell .img4{
    background: url("../img/promotion4.jpg") center center / cover;
}
.sell h3{
    font-size: 18px;
    margin-bottom: 15px;
}
.sell p{
    font-size: 14px;
}
.background_1{
    background: url("../img/bg1.jpg") center center / cover;
    text-align: center;
}
.background_1 input{
    margin-top: 50px;
    width: 500px;
    height: 50px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px 10px;
    opacity: 50%;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
}
.ob{
    margin: 0 auto;
    width: 500px;
    padding-bottom: 50px;
}
.info{
    margin-bottom: 50px;
}
.logo_footer{
    height: 70px;
    width: 200px;
}
.text_cent{
    text-align: center;
}
.info_footer{
    display: flex;
    justify-content: space-between;
}
.tel{
    margin-left: 20px;
    margin-top: 10px;
}
.info_footer a{
    text-decoration: none;
    font-size: 25px;
}
.info h2{
    margin-bottom: 50px;
}
.info_obertka{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}
progress{
    margin-top: 30px;
    width: 500px;
}
.info_obertka input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 0 10px;
    outline: none;
}
.info_obertka button{
    margin-left: auto;
    margin-right: auto;
}
.gradient{
    margin-top: -100px;
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(255,255,255,1));
    height: 100px;
    align-items: flex-end;
}
.gradient_obr{
    background: linear-gradient(to top, rgba(0,0,0,0),rgba(255,255,255,1));
    height: 100px;
    align-items: flex-end;
}

