@media  (max-width: 1340px) {
    .container{
        width: 1140px;
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}
@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
}
@media (max-width: 576px){
    .container{
        width: 100%;
    }
}
@media (max-width: 773px){
    .why_menu{
        flex-direction: column;
    }
    .info_obertka{
        flex-direction: column;
    }
    .info_obertka input{
        margin: 10px auto;
    }
    .info_obertka button{
        margin: 10px auto;
    }
    .element{
        margin: 0 auto;
        width: 400px;
        margin-bottom: 30px;
    }
}
@media (max-width: 1340px){
    .sell:last-child{
        margin-top: 40px;
    }
    .sell{
        margin: 0 auto;
        height: 418px;

    }
}
@media (max-width: 991px){
    .sell{
        margin-top: 40px;
    }
}
@media (max-width: 1231px) {
    .links ul{
        column-count: 3;
    }
}
@media (max-width: 600px){
    nav{

    }
}